.wrapper {
    justify-content: center;
}

.card {
    border: solid 2px #939393;
    width: 400px;
    margin: 150px auto;
    border-radius: 15px;
}

.card .card-header {
    background-color: #939393;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.card .card-header h2 {
    margin: 0;
    padding: 10px;
}

.card .card-footer {
    background-color: #939393;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.card .card-footer h2 {
    margin: 0;
    color: white;
    padding: 10px;
}

.card .card-body {
    padding: 15px;
}

.form-label {
    display: block;
    margin: 5px 0;
}

.form-control {
    display: block;
    margin: 5px 0;
    border: 1px solid #939393;
    border-radius: 5px;
    padding: 10px;
}

.radio-inline {
    margin-bottom: 15px;
}

.btn {
    padding: 10px;
    background-color: #939393;
    border: solid 1px #939393;
    border-radius: 5px;
    width: 100%;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #d8d8d8;
    color: #939393;
}

.my-table {
    width: 100%;
    padding: 5px 10px;
    color: white;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

.my-table td {
    padding: 5px;
}